@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalización de la barra de scroll */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #c7cbda;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #e9afa3;
}

/* Tu animación flotante */
.float-animation {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}